.gradient-text {
  background: linear-gradient(180deg, rgba(128, 128, 128, 0) 0%, #808080 100%), #18181B;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}